version: '3.8'
services:
  db:
    # image: docker.arvancloud.ir/postgres:16
    image: postgres
    container_name: postgres_finnotech
    env_file:
      - ./.env
    ports:
      - 5432:5432
    volumes:
      - finnotech:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: 'finnotechDB'
      POSTGRES_USER: 'finnotech'
      POSTGRES_PASSWORD: 'P@ssw0rd'

volumes:
  finnotech:
